/* Intro */
.prev {
  position: absolute;
  left: 0;
  margin-left: 25px;
  cursor: pointer;
  display: none;
}

.next {
  position: absolute;
  right: 0;
  margin-right: 25px;
  cursor: pointer;
  display: none;
}

.intro {
  background: url('../img/intro.png') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.intro__inner {
  position: absolute;
  top: 30%;
  width: 100%;
  max-width: 880px;
}

.intro__title {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 86px;
  line-height: 115px;
  color: #fff;
  margin-bottom: 12px;
}

.intro__subtitle {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 36px;
}

.intro__btn {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #28292b;
  color: #fff;
  backdrop-filter: blur(6.5px);
  outline: none;
  border: none;
  padding: 14px 31px;
  cursor: pointer;
  margin-top: 5px;
}

.intro__btn:hover {
  box-shadow: 5px 5px 5px #3a3a3a;
  background: #3a3a3a;
  border: 1px solid #000000;
}

ul.socials__list,
.dots {
  position: absolute;
  bottom: 0;
}

ul.socials__list {
  display: flex;
  padding-bottom: 44px;
}

.socials__item + .socials__item {
  margin-left: 22px;
}

.dots {
  width: 439px;
  height: 126px;
  padding: 54px 0 50px 33px;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(6px);
  right: 0;
}

.dots .slick-dots {
  align-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.dots .slick-dots li {
  cursor: pointer;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-right: 15px;
}

.dots .slick-dots li.slick-active {
  margin: 0;
  color: blue;
}

.dots .slick-dots li a {
  color: #737373;
}

.dots .slick-dots li.slick-active a {
  color: #000;
}

.dots .slick-dots li.slick-active:after {
  width: 80px;
  margin-right: 30px;
}
.dots .slick-dots li.slick-active:before {
  width: 44px;
}

.dots .slick-dots li:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  position: relative;
  top: -11px;
  left: 17px;
  margin-left: 8px;
  background: #fff;
  transition: width 100ms ease-out;
}
.dots .slick-dots li:before {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  position: relative;
  top: 13px;
  left: 17px;
  margin-left: 8px;
  background: black;
  transition: width 100ms ease-out;
  z-index: 1;
}

.about {
  background: #fafafa;
}

.about-dot .slick-dots {
  display: flex;
}

.about-dot .slick-dots li {
  margin-right: 10px;
}

.about__inner {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
}

.about__content {
  margin-left: 105px;
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
  max-width: 545px;
  margin-bottom: 50px;
}

.slide__img {
  max-width: 697px;
  max-height: 692px;
}

.about__btn {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #fff;
  color: #3a3a3a;
  backdrop-filter: blur(6.5px);
  outline: none;
  border: none;
  padding: 14px 31px;
  cursor: pointer;
  margin-top: 5px;
  border: 1px solid #000;
}

.about__btn:hover {
  box-shadow: 5px 5px 5px #d9d7d7;
}

.about__slider {
  width: 50%;
  position: relative;
}

.about-dot {
  position: absolute;
  bottom: 24px;
  left: 43%;
}

.about-dot .slick-dots li:after {
  width: 0;
  margin-left: 0;
}

.about-dot .slick-dots li:before {
  width: 0;
  margin: 0;
}

.about-dot .slick-dots li button {
  width: 14px;
  height: 14px;
  background: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
}

.about-dot .slick-dots li.slick-active button {
  background: #ffab87;
}

.services {
  padding-top: 90px;
  max-width: 993px;
  margin-left: auto;
  margin-right: auto;
}

.services__button {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}

.services__item-header {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #3a3a3a;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 46px;
}

.services__item-header-icon {
  cursor: pointer;
}

.services__item-header-icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 25px;
  background-color: #3a3a3a;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.services__item-header-icon:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 2px;
  background-color: #3a3a3a;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.services__item-header-icon[data-services-button-icon='open'] {
  transform: rotate(-90deg);
}

.services__item-header-icon[data-services-button-icon='open']:after {
  opacity: 0;
}

.services__item-header-icon {
  width: 40px;
  height: 40px;
  position: relative;
  transition: transform 0.3s ease;
}

.services__content {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  height: 0;
  transition: height 0.3s ease;
  overflow: hidden;
  line-height: 1.8;
  font-size: 14px;
  margin-bottom: 71px;
}

.services__content img {
  min-width: 369px;
  min-height: 485px;
}

.services__content-info {
  flex-direction: column;
  display: flex;
  margin-left: 58px;
  margin-top: 88px;
}

.services__text {
  font-family: 'Montserrat';
  display: block;
  margin-top: 0;
  margin-bottom: 28px;
  max-width: 515px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #4d4d4d;
}
.services__btn {
  max-width: 240px;
}

.services__btn:hover {
  box-shadow: 5px 5px 5px #858181;
}

.services__title {
  margin-bottom: 64px;
}

.services__subtitle {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #3a3a3a;
  margin-bottom: 19px;
}

.articles {
  margin-top: 220px;
}

.articles__slider {
  display: none;
}

.articles__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.articles__link {
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #3a3a3a;
}

.articles__link svg {
  margin-left: 6px;
}

.articles__items {
  display: flex;
  min-width: 100%;
}

.articles__item {
  position: relative;
}

.articles__img-big {
  min-height: 874px;
}

.articles__img {
  min-height: 437px;
}

.articles__text {
  position: absolute;
  bottom: 0;
  padding-left: 30px;
  padding-bottom: 30px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
  max-width: 330px;
}

.directions {
  margin-top: 120px;
}

.directions__title {
  text-align: center;
  margin-bottom: 75px;
}

.directions__item {
  position: relative;
  display: flex;
  margin-bottom: 100px;
  align-items: center;
}

.directions__info {
  margin-left: 150px;
}

.directions__info-second {
  margin-right: 200px;
}

.directions__line {
  width: 100px;
  height: 8px;
  background-color: #3a3a3a;
  z-index: 999;
  position: absolute;
  top: 28%;
  left: 40%;
}

.directions__line-second {
  left: 0;
  transform: rotate(90deg);
}

.directions__btn {
  min-width: 240px;
}

@media (max-width: 1200px) {
  .about__inner {
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about-dot {
    left: 38%;
  }

  .about__content {
    margin-left: 35px;
  }

  .about__text {
    max-width: 400px;
    margin-bottom: 35px;
  }

  .slide__img {
    max-width: 500px;
    max-height: 500px;
  }
}

@media (max-width: 992px) {
  .intro__btn:hover {
    box-shadow: none;
    background: #28292b;
    border: none;
  }

  .about__btn:hover {
    box-shadow: none;
  }

  .nav {
    display: none;
  }

  .slide__img {
    max-width: 400px;
  }

  .about-dot {
    left: 39%;
  }

  .about__slider {
    width: 45%;
  }

  .about__content {
    margin-left: 20px;
  }

  .about__title {
    font-size: 52px;
    margin-bottom: 20px;
  }

  .about__text {
    margin-bottom: 20px;
  }

  .about__btn {
    font-size: 14px;
  }

  .services__item {
    width: 100%;
    max-width: 800px;
  }

  .articles {
    margin-top: 0;
  }

  .articles__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .articles__top .title {
    margin-bottom: 15px;
  }

  .articles__items {
    display: none;
  }

  .articles__slider {
    display: block;
  }

  .articles-dot .slick-dots {
    display: flex;
    justify-content: space-around;
  }

  .articles-dot .slick-dots li {
    height: 1px;
    content: '';
    border: 1px solid #ebebeb;
    width: 300px;
  }

  .articles-dot .slick-dots li.slick-active {
    border: 1px solid #787878;
  }

  .articles-dot {
    margin-top: 20px;
  }

  .articles__slider .slick-slide {
    max-width: 350px;
    height: 350px;
    margin-right: 20px;
  }

  .articles__text {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 22px;
  }

  .directions {
    margin-top: 100px;
  }

  .directions__info {
    margin-left: 70px;
  }

  .directions__line {
    display: none;
  }

  .directions__info-second {
    margin-left: 0;
    margin-right: 50px;
  }

  .services .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .about__inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .services {
    padding-top: 30px;
  }

  .title {
    font-size: 52px;
  }

  .services__title {
    margin-bottom: 50px;
  }

  .services__item-header {
    margin-bottom: 15px;
    font-size: 21px;
  }

  .services__item-header-icon:after {
    width: 20px;
  }

  .services__item-header-icon:before {
    height: 20px;
  }

  .services__content img {
    min-width: 300px;
    min-height: 300px;
  }

  .services__content-info {
    margin-top: 50px;
    margin-left: 40px;
  }

  .services__subtitle {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .services__text {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .services__btn {
    max-width: 200px;
    font-size: 16px;
  }

  .directions__info {
    margin-left: 30px;
  }

  .directions__subtitle {
    font-size: 18px;
  }

  .directions__text {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .next,
  .prev {
    display: block;
  }
  .dots .slick-dots li {
    display: none;
  }
  .intro__title {
    font-size: 56px;
    line-height: 65px;
  }

  .intro__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .dots .slick-dots li a {
    font-size: 24px;
  }

  .dots .slick-dots li:before {
    top: 15px;
  }

  .socials {
    display: none;
  }
  .about__inner {
    flex-direction: column;
  }

  .about__slider {
    width: 100%;
    order: 2;
  }

  .about-dot {
    left: 45%;
  }

  .slide__img {
    min-height: 100%;
    min-width: 100%;
  }

  .about__content {
    margin-left: 0;
    width: 100%;
    margin-bottom: 25px;
  }

  .articles__img {
    min-width: 200px;
    min-height: 200px;
  }

  .articles__text {
    padding-bottom: 35px;
  }

  .services__title {
    font-size: 42px;
  }

  .services__content {
    flex-direction: column;
  }

  .services__content img {
    order: 2;
  }

  .services__subtitle {
    display: none;
  }

  .services__content-info {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 45px;
  }

  .services__item-header {
    padding: 0;
  }

  .directions__subtitle {
    display: block;
  }

  .directions__item {
    flex-direction: column;
  }

  .directions__content {
    order: 2;
  }

  .directions__title {
    text-align: left;
    margin-bottom: 30px;
  }

  .directions__info {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .directions__item {
    margin-bottom: 60px;
  }

  .appointment__title {
    font-size: 32px;
    margin-bottom: 16px;
    line-height: 35px;
    max-width: 314px;
  }
}

@media (max-width: 440px) {
  .services__title {
    font-size: 38px;
    line-height: 46px;
  }

  .articles__text {
    padding-left: 45px;
    padding-bottom: 55px;
  }

  .directions__title {
    font-size: 42px;
    line-height: 56px;
  }

  .directions__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}
