html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Page */
.page {
  overflow: hidden;
}

/* Container */
.container {
  width: 100%;
  max-width: 1570px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-xs {
  width: 100%;
  max-width: 1390px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 60px;
  line-height: 80px;
  color: #000000;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background: url('../img/intro.png') no-repeat center;
}

.intro__inner {
  position: absolute;
  top: 30%;
  width: 100%;
  max-width: 880px;
}

.intro__title {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 86px;
  line-height: 115px;
  color: #fff;
  margin-bottom: 12px;
}

.intro__subtitle {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 36px;
}

.intro__btn {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #28292b;
  color: #fff;
  backdrop-filter: blur(6.5px);
  outline: none;
  border: none;
  padding: 14px 31px;
  cursor: pointer;
  margin-top: 5px;
}

.intro__btn:hover {
  box-shadow: 5px 5px 5px #3a3a3a;
  background: #3a3a3a;
  border: 1px solid #000000;
}

/* Header */
.header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  margin-right: 15px;
}

.header__logo svg {
  margin-bottom: 5px;
}

/* Nav */
.nav__list {
  display: flex;
}

.nav__list-item--first {
  display: flex;
  align-items: center;
}

.nav__list-item + .nav__list-item {
  margin-left: 25px;
}

.nav__link--first {
  margin-right: 5px;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-family: 'Inter';
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
}

ul.socials__list,
.dots {
  position: absolute;
  bottom: 0;
}

ul.socials__list {
  display: flex;
  padding-bottom: 44px;
}

.socials__item + .socials__item {
  margin-left: 22px;
}

.dots {
  width: 439px;
  height: 126px;
  padding: 54px 0 50px 33px;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(6px);
  right: 0;
}

.slick-dots {
  align-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.slick-dots li {
  cursor: pointer;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-right: 15px;
}

.slick-dots li.slick-active {
  margin: 0;
  color: blue;
}

.slick-dots li a {
  color: #737373;
}

.slick-dots li.slick-active a {
  color: #000;
}

.slick-dots li.slick-active:after {
  width: 80px;
  margin-right: 30px;
}
.slick-dots li.slick-active:before {
  width: 44px;
}

.slick-dots li:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  position: relative;
  top: -11px;
  left: 17px;
  margin-left: 8px;
  background: #fff;
  transition: width 100ms ease-out;
}
.slick-dots li:before {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  position: relative;
  top: 13px;
  left: 17px;
  margin-left: 8px;
  background: black;
  transition: width 100ms ease-out;
  z-index: 1;
}

.about {
  background: #fafafa;
}

.about__inner {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
}

.about__content {
  margin-left: 105px;
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
  max-width: 545px;
  margin-bottom: 50px;
}

.slide__img {
  max-width: 697px;
  max-height: 692px;
}

.about__btn {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #fff;
  color: #3a3a3a;
  backdrop-filter: blur(6.5px);
  outline: none;
  border: none;
  padding: 14px 31px;
  cursor: pointer;
  margin-top: 5px;
  border: 1px solid #000;
}

.about__btn:hover {
  box-shadow: 5px 5px 5px #d9d7d7;
}

.services {
  padding-top: 90px;
  max-width: 993px;
  margin-left: auto;
  margin-right: auto;
}

.services__button {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}

.services__item-header {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #3a3a3a;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 46px;
}

.services__item-header-icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 25px;
  background-color: #3a3a3a;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.services__item-header-icon:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 2px;
  background-color: #3a3a3a;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.services__item-header-icon[data-services-button-icon='open'] {
  transform: rotate(-90deg);
}

.services__item-header-icon[data-services-button-icon='open']:after {
  opacity: 0;
}

.services__item-header-icon {
  width: 40px;
  height: 40px;
  position: relative;
  transition: transform 0.3s ease;
}

.services__content {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  height: 0;
  transition: height 0.3s ease;
  overflow: hidden;
  line-height: 1.8;
  font-size: 14px;
  margin-bottom: 71px;
}

.services__content img {
  min-width: 369px;
  min-height: 485px;
}

.services__content-info {
  flex-direction: column;
  display: flex;
  margin-left: 58px;
  margin-top: 88px;
}

.services__text {
  font-family: 'Montserrat';
  display: block;
  margin-top: 0;
  margin-bottom: 28px;
  max-width: 515px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #4d4d4d;
}
.services__btn {
  max-width: 240px;
}

.services__btn:hover {
  box-shadow: 5px 5px 5px #858181;
}

.services__title {
  margin-bottom: 64px;
}

.services__subtitle {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #3a3a3a;
  margin-bottom: 19px;
}

.articles {
  margin-top: 220px;
}

.articles__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.articles__link {
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #3a3a3a;
}

.articles__link svg {
  margin-left: 6px;
}

.articles__items {
  display: flex;
  min-width: 100%;
}

.articles__item {
  position: relative;
}

.articles__img-big {
  min-height: 874px;
}

.articles__img {
  min-height: 437px;
}

.articles__text {
  position: absolute;
  bottom: 0;
  padding-left: 30px;
  padding-bottom: 30px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
  max-width: 330px;
}

.directions {
  margin-top: 120px;
}

.directions__title {
  text-align: center;
  margin-bottom: 75px;
}

.directions__item {
  position: relative;
  display: flex;
  margin-bottom: 100px;
  align-items: center;
}

.directions__info {
  margin-left: 150px;
}

.directions__info-second {
  margin-right: 200px;
}

.directions__line {
  width: 100px;
  height: 8px;
  background-color: #3a3a3a;
  z-index: 999;
  position: absolute;
  top: 28%;
  left: 40%;
}

.directions__line-second {
  left: 0;
  transform: rotate(90deg);
}

.directions__btn {
  min-width: 240px;
}

.appointment {
  margin-top: 120px;
}

.appointment__inner {
  display: flex;
}

.appointment__info {
  margin-right: 69px;
  min-width: 580px;
}

.appointment__info-wrap {
  padding-left: 180px;
  padding-top: 100px;
  min-height: 100%;
  background-color: #3a3a3a;
  width: 500%;
}

.appointment__title {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 56px;
  line-height: 62px;
  color: #ffffff;
  margin-bottom: 35px;
  max-width: 580px;
}

.appointment__text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #d3d3d3;
  margin-bottom: 35px;
  max-width: 490px;
}

.appointment__content {
  background-image: url('../img/appointment.jpg');
  min-width: 50%;
}

.appointment__content img {
  height: 100%;
}

.appointment__form {
  display: flex;
  flex-direction: column;
}

.appointment__input {
  padding: 19px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3a3a3a;
  width: 448px;
  margin-bottom: 20px;
  outline: none;
}

.appointment__btn {
  cursor: pointer;
  width: 448px;
  height: 58px;
  margin-bottom: 132px;
  text-transform: uppercase;
  background-color: #262729;
  border: 1px solid rgba(255, 171, 135, 0.47);
  color: #fff;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  transition: all 0.3s ease;
}

.appointment__btn:hover {
  background-color: #000;
}

input::-webkit-input-placeholder {
  color: #3a3a3a;
}

.select {
  position: relative;
  width: 448px;
  margin-bottom: 20px;
}

.select.active .select__body {
  display: block;
  padding-bottom: 5px;
  background-color: #fff;
}

.select.active .select__img {
  transform: rotate(180deg);
}

.select__header {
  padding: 19px;
  height: 58px;
  border: 1px solid #b7b7b7;
  cursor: pointer;
  display: flex;
  background-color: #fff;
  align-items: center;
}

.select__current {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3a3a3a;
}

.select__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  margin-left: auto;
  text-align: center;
}

.select__body {
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: none;
}

.select__item {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
}

.select__item:hover {
  background-color: #f2f2f2;
}

.promotions {
  margin-top: 120px;
}

.promotions__title {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 64px;
  line-height: 79px;
  color: #000000;
  margin-bottom: 10px;
}

.promotions__text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #3a3a3a;
  max-width: 350px;
  margin-bottom: 26px;
}

.promotions__inner {
  display: flex;
  align-items: center;
}

.promotions__left {
  margin-right: 100px;
}

.promotions__items {
  display: flex;
}

.promotions__item {
  margin-right: 20px;
}

.promotions__img {
  min-width: 423px;
  min-height: 451px;
  margin-bottom: 16px;
}

.promotions__item-text {
  max-width: 380px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #3a3a3a;
}

.seo {
  margin-top: 120px;
}

.seo__title {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 25px;
}

.seo__inner p {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #4d4d4d;
  margin-bottom: 25px;
  max-width: 1050px;
}

.tabs {
  margin-top: 100px;
}

.tabs-triggers {
  display: flex;
  border: 1px solid #cfcfcf;
}

.tabs-triggers_item {
  color: #000;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgba(207, 207, 207, 0.47);
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  padding: 13px 26px;
}

.tabs-content_item {
  display: none;
  border: 1px solid #cfcfcf;
  border-top: none;
  padding: 35px 0 40px 35px;
}

.tabs-triggers_item--active {
  background: #262729;
  border: 1px solid rgba(207, 207, 207, 0.47);
  color: #fff;
}

.tabs-content_item--active {
  display: block;
}

.tabs-content__inner {
  display: flex;
}

ul.tabs-content__list {
  margin-right: 85px;
}

.tabs-content__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.tabs-content__link:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 70px;
  height: 212px;
  background-color: #2f2f2f;
  display: flex;
  align-items: center;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__logo-main {
  margin-bottom: 15px;
}

.footer__logo-title {
  margin-bottom: 8px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.footer__list {
  display: flex;
  margin-bottom: 65px;
}

.footer__item + .footer__item {
  margin-left: 60px;
}

.footer__link,
.footer__copyright {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
}

.footer__socials-link {
  margin-left: 16px;
}

.header__menu-content {
  display: flex;
  position: absolute;
  top: 0;
  background-color: #fff;
  text-align: center;
  transform: translateY(-200%);
  transition: all 0.4s;
  max-width: 1410px;
  width: 100%;
  height: 349px;
  padding: 24px 0 64px 50px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.header__menu-content.active {
  transform: translateY(24%);
}

.header.white {
  background-color: #fff;
}

.header.white .nav__link {
  color: #000;
}

.header.white .nav__list-item--first svg path {
  fill: black;
}

.header.white .nav__list-item--first svg {
  transform: rotate(180deg);
}

.header.white .header__logo svg path {
  fill: black;
}

.header__menu-content--img {
  position: absolute;
  top: 0;
  right: 0;
}

ul.header__menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 60px;
}

.header__menu-link {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #707070;
  margin-bottom: 11px;
}

.header__menu-link:hover {
  color: #ffab87;
}

.header__menu-item--title {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 16px;
}

.header__logo-wrap {
  display: flex;
  flex-direction: column;
}

.promotions {
  display: flex;
}

.promotions__items {
  width: 100%;
}

.about__slider {
  width: 50%;
  position: relative;
}

.about-dot {
  position: absolute;
  bottom: 24px;
  left: 45%;
}

.about-dot .slick-dots li:after {
  width: 0;
  margin-left: 0;
}

.about-dot .slick-dots li:before {
  width: 0;
  margin: 0;
}
.about-dot .slick-dots li button {
  width: 14px;
  height: 14px;
  background: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
}

.about-dot .slick-dots li.slick-active button {
  background: #ffab87;
}
