.content-table {
  /* border-collapse: collapse; */
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  overflow: hidden;
  background: #ffffff;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 27px;
}

.content-table thead tr {
  color: #000;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  /* border-right: 1px solid #e2e2e2; */
  padding: 35px 45px;
  text-align: center;
}

.last-col {
  border-right: none;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.content-table .td-title {
  text-align: left;
}

.content-table td {
  font-family: 'Montsserat';
  font-weight: 400;
  font-size: 24px;
  line-height: 43px;
  color: #000000;
}

.content-table th {
  font-family: 'Montsserat';
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
