.select {
  position: relative;
  margin: 0 auto;
  width: 250px;
}

.select.active .select__body {
  display: block;
}

.select__header {
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
}

.select__current {
  padding: 8px;
  font-size: 18px;
  line-height: 24px;
}

.select__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  margin-left: auto;
  text-align: center;
}

.select__body {
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: none;
}

.select__item {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
}

.select__item:hover {
  background-color: #f2f2f2;
}
